!!!
%html
  %head
    %link{:href => '/stylesheet.css', :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src   => "/javascript/jquery.js" }
    %script{:type => "text/javascript", :src   => "/javascript/jquery.timer.js" }
    %script{:type => "text/javascript", :src   => "/javascript/application.js" }
    %meta{:name => 'description', :content => 'uSwitch.com Mobile Awards 2011'}
    %meta{:name => 'author', :content => 'Andrew Nesbitt'}
    %title
      uSwitch.com Mobile Awards 2011
  %body
    #awards
    #uswitch
      Follow @uSwitchTech
      %br
      Hashtag #uSwitchAwards
    #message
      Welcome to the uSwitch.com Mobile Awards 2011